*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #2678c2;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style: none;
    width: 75vw;
    height: 75vw;
    display: grid;
    column-gap: 15px;
    row-gap: 15px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    padding: 15px;
}
li{
    background-color: rgb(250, 250, 250);
    transition: all .3s ease-in-out;
}
li.selected{
    transform: scale(1.25);
    z-index: 1;
    box-shadow: 0 0 15px 0 rgba(200, 200, 200, .3);
}
@media(min-width: 768px){
    ul{
        width: 75vh;
        height: 75vh;
    }
}